
.container {
    background-color: #ffffff;
    display: flex;
    width: 100vw;    
    font-size: 19px;
    font-family: "Segoe UI Symbol";
    color: rgb(91, 91, 91);
    line-height: 1.368;
    justify-content: center;
  }
  
  