.container {
    display: flex;
    width: 100vw;   
    background-color: #474043;
    line-height: 1.368;
    align-items: center;
    justify-content: center;
    border: solid 1px #cecece;  
  }

  .row  {    
    font-size: 13.667px;
    font-family: "SegoeWP";
    color: #919190;
    text-align: left;
  }
  

  .col {
    display: flex;
    width: 230px;
    flex-direction: column;
    color: #ccc
  }

  .header {
    font-size: 19px;
    font-family: "SegoeWP";
    height: 55px;
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  

  .line  {
    border-top: 1px solid #52514f;; /* Параметры линии */
    height: 0.2px; /* Высота блока */
    width: 170px;
   }

   .invis {
     color: #474043
   }