.container {
  background-color: #f8f8f8;
  display: flex;
  min-width: 805px;   
  font-size: 19px;
  font-family: "Segoe UI Symbol";
  color: rgb(91, 91, 91);
  line-height: 1.368;
  justify-content: center;
  border: solid 1px #cecece;    
}

