
@font-face {
  font-family: 'SegoeWP';
  src: local('SegoeWP'), url(./fonts/SegoeWP.woff) format('woff');
}

@font-face {
  font-family: 'SegoeWPN';
  src: local('SegoeWPN'), url(./fonts/SegoeWPN.woff) format('woff');
}

@font-face {
  font-family: 'Segoe UI Symbol';
  src: local('SegoeWPN'), url(./fonts/seguisym.ttf) format('ttf');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

